/* Element Variables */

// Override Element UI variables
$--colors: (
  'white': #ffffff,
  'black': #000000,
  'primary': (
    'base': #3f4157
  ),
  'success': (
    'base': #00c782
  ),
  'warning': (
    'base': #e6a23c
  ),
  'danger': (
    'base': #f56c6c
  ),
  'error': (
    'base': #f56c6c
  ),
  'info': (
    'base': #f29225
  )
);
$--text-color: (
  'primary': #3f4157,
  'regular': #595c66,
  'secondary': #868792,
  'placeholder': #babdcc
);
$--border-color: (
  'base': #e8e9f0,
  'light': #e4e7ed,
  'lighter': #ebeef5,
  'extra-light': #f2f6fc
);

// Icon font path, required
$--font-path: '~element-plus/packages/theme-chalk/src/fonts';

// Apply overrided variables in Element UI
@import '~element-plus/packages/theme-chalk/src/index';

// The :export directive is the magic sauce for webpack
// https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
:export {
  theme: 'red';
}
